<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    {{>nav-bars}}

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">{{pageTitle}}</li>
            </ol>


            <!-- Page Content -->

            <!-- Editable table -->
            <div class="card">
                <div class="card-body">
                    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
                                                                                         aria-hidden="true"></i></a></span>
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <tr>
                                <th class="text-center">Tên sản phẩm<th>
                                <th class="text-center">Loại sản phẩm</th>
                                <th class="text-center">Nhà sản xuất</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Hình ảnh
                                    <input type="file" id="exampleInputFile">
                                </th>
                                <th class="text-center">Sắp xếp</th>
                                <th class="text-center">Xóa</th>
                            </tr>
                            <tr>
                                <td class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                                <td class="pt-3-half" contenteditable="true">30</td>
                                <td class="pt-3-half" contenteditable="true">Deepends</td>
                                <td class="pt-3-half" contenteditable="true">Spain</td>
                                <td class="pt-3-half" contenteditable="true">Madrid</td>
                                <td class="pt-3-half" contenteditable="true">Madrid
                                </td>
                                <td class="pt-3-half">
                                    <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
                                    <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                                                                                                 aria-hidden="true"></i></a></span>
                                </td>
                                <td>
                                    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                </td>
                            </tr>

                            <!-- This is our clonable table line -->
                            <tr class="hide">
                                <td class="pt-3-half" contenteditable="true">Elisa Gallagher</td>
                                <td class="pt-3-half" contenteditable="true">31</td>
                                <td class="pt-3-half" contenteditable="true">Portica</td>
                                <td class="pt-3-half" contenteditable="true">United Kingdom</td>
                                <td class="pt-3-half" contenteditable="true">London</td>
                                <td class="pt-3-half">
                                    <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
                                    <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                                                                                                 aria-hidden="true"></i></a></span>
                                </td>
                                <td>
                                    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Editable table -->
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{{>logout}}

{{> js}}