<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    {{>nav-bars}}

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">{{pageTitle}}</li>
            </ol>


            <!-- Page Content -->

            <!-- Editable table -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <button type="submit" class="btn " style="float: right;margin-right: 120px;background-color: rgb(28, 188, 156);font-size: 16px;color: white" onclick="add()">Thêm mới</button>
                    </div>
                    </br>
                    <div id="table" class="table-editable">

                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <tr>
                                <th class="text-center">Tên người dùng</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Địa chỉ</th>
                                <th class="text-center">Số điện thoại</th>
                                <th class="text-center">Xóa</th>
                            </tr>
                            <tr>
                                <td class="pt-3-half" contenteditable="true">Nguyễn Văn Phương Nghi</td>
                                <td class="pt-3-half" contenteditable="true">phnghi123</td>
                                <td class="pt-3-half" contenteditable="true">Hóc Môn, TPHCM</td>
                                <td class="pt-3-half" contenteditable="true">0938162708</td>
                                <td>
                                    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                </td>
                            </tr>

                            <!-- This is our clonable table line -->
                            <tr>
                                <td class="pt-3-half" contenteditable="true">Nguyễn Văn Phương Nghi</td>
                                <td class="pt-3-half" contenteditable="true">phnghi123</td>
                                <td class="pt-3-half" contenteditable="true">Hóc Môn, TPHCM</td>
                                <td class="pt-3-half" contenteditable="true">0938162708</td>
                                <td>
                                    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Editable table -->
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2019</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
{{>logout}}

{{> js}}