<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="user-menu">
                <ul>
                    <li><a href="/userInfoUpdate"><i class="fa fa-user"></i> Tài khoản</a></li>
                    <li><a href="/cart"><i class="fa fa-user"></i> Giỏ hàng</a></li>
                    <li><a href=""><i class="fa fa-user"></i> Lịch sử giao dịch</a></li>
                    <li><a href="/checkout"><i class="fa fa-user"></i> Thanh toán</a></li>
                    <li><a href="/login"><i class="fa fa-user"></i> Đăng nhập</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>