<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="user-menu">
                <ul>
                    <li><a href="/userInfoUpdate"><i class="fa fa-user"></i>Chỉnh sửa thông tin</a></li>
                    <li><a href="/cart"><i class="fa fa-user"></i> Giỏ hàng</a></li>
                    <li><a href="/orders"><i class="fa fa-user"></i> Các đơn hàng</a></li>
                    <li><a href="/checkout"><i class="fa fa-user"></i> Thanh toán</a></li>
                    <li><a href="/login"><i class="fa fa-user"></i> Đăng xuất</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>