<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="logo">
                <h1><a href="/"><img src="img/logo.png"></a></h1>
            </div>
        </div>

        <div class="col-sm-7">
            {{>search-bar}}
        </div>

        <div class="col-sm-3">
            <div class="shopping-item">
                <a href="/cart">Giỏ hàng - <span class="cart-amunt">500.000đ</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">1</span></a>
            </div>
        </div>
    </div>
</div>