<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    {{>nav-bars}}

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">{{pageTitle}}</li>
            </ol>


            <!-- Page Content -->

            <!-- Editable table -->
            <div class="container">
                <div class="row">
                    <div class="span2">
                        <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  alt="" class="img-rounded">
                    </div>
                    <div class="span4">
                        <blockquote>
                            <p>Bruce Wayne</p>
                            <small><cite title="Source Title">Gotham, United Kingdom  <i class="icon-map-marker"></i></cite></small>
                        </blockquote>
                        <p>
                            <i class="icon-envelope"></i> masterwayne@batman.com <br>
                            <i class="icon-globe"></i> www.bootsnipp.com <br>
                            <i class="icon-gift"></i> January 30, 1974
                        </p>
                    </div>

                    <div class="span2">
                        <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  alt="" class="img-rounded">
                    </div>
                    <div class="span4">
                        <blockquote>
                            <p>Bruce Wayne</p>
                            <small><cite title="Source Title">Gotham, United Kingdom  <i class="icon-map-marker"></i></cite></small>
                        </blockquote>
                        <p>
                            <i class="icon-envelope"></i> masterwayne@batman.com <br>
                            <i class="icon-globe"></i> www.bootsnipp.com <br>
                            <i class="icon-gift"></i> January 30, 1974
                        </p>
                    </div>
                </div>
            </div>

            <!-- Editable table -->
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2019</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
{{>logout}}

{{> js}}